<div class="row">
  <div class="container container-auth z-depth-1 grey lighten-4 col s2 offset-s5">

    <ul class="tabs">
      <li class="tab col s3"><a href="#login">Login</a></li>
      <li class="tab col s3"><a href="#register">Register</a></li>
    </ul>
    <!--Login Part-->
    <div id="login" class="row login-custom-card" style="">

      <form class="col s12">
        <div class='row'>
          <div class='col s12'>
            <span class="center-align">Login</span>
          </div>
        </div>

        <div class='row'>
          <div class='input-field col s12'>
            <i class="material-icons prefix">person</i>
            <input class='validate' type='email' name='email' id='email'/>
            <label for='email'>Enter your email</label>

          </div>
        </div>

        <div class='row'>
          <div class='input-field col s12'>
            <i class="material-icons prefix">lock_outline</i>
            <input class='validate' type='password' name='password' id='password'/>
            <label for='password'>Enter your password</label>
          </div>
        </div>

        <br/>
        <div class='row'>
          <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Login</button>
        </div>
      </form>
    </div>
    <!--Register Part-->
    <div id="register" class="row login-custom-card">
      <form class="col s12">
        <div class='row'>
          <div class='col s12'>
          </div>
        </div>

        <div class='row'>
          <div class='input-field col s12'>
            <input class='validate' type='email' name='email' id='email'/>
            <label for='email'>Enter your email</label>
          </div>
        </div>

        <div class='row'>
          <div class='input-field col s12'>
            <input class='validate' type='password' name='password' id='password'/>
            <label for='password'>Enter your password</label>
          </div>
          <label style='float: right;'>
            <a class='pink-text' href='#!'><b>Forgot Password?</b></a>
          </label>
        </div>

        <br/>
        <div class='row'>
          <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
