<div class="container">
    <div class="card s8">
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{'TITLE.BOOKING' | translate}} {{vm.selectedFlight.departedFrom.name}} - {{vm.selectedFlight.arrivalIn.name}}<i
                class="material-icons right">more_vert</i></span>
        </div>
    </div>
    <form action="#" name="bookingForm">
        <div class="card s8">
            <div class="card-content">
                <div class="row">
                    <div class="s6">
                        <div class="input-field col s12">
                            <select id="type" class="browser-default" ng-model="vm.booking.seatType">
                                <!--<option value="" disabled selected>Choose your option</option>-->
                                <option ng-repeat="value in vm.seatClass track by $index" value="{{value}}">{{value}}
                                </option>
                            </select>
                            <!--<label for="type">Select seat type</label>-->
                        </div>
                    </div>
                </div>
                <div class="row" ng-repeat="seat in vm.booking.seats track by $index">
                    <div class="input-field col s5">
                        <input id="first_name{{$index}}" type="text" class="validate" ng-model="seat.firstName"
                               required>
                        <label for="first_name{{$index}}">{{'USER.ENTERFIRSTNAME' | translate}}</label>
                    </div>
                    <div class="input-field col s5">
                        <input id="last_name{{$index}}" type="text" class="validate" ng-model="seat.lastName" required>
                        <label for="last_name{{$index}}">{{'USER.ENTERLASTNAME' | translate}}</label>
                    </div>
                    <!--<div class="input-field col s2">-->
                        <!--<input id="birthDate" type="date" class="datepicker" ng-model="vm.birthDate" ng-click="vm.openDatePicker()">-->
                        <!--<label for="birthDate">Input date</label>-->
                    <!--</div>-->
                    <div class="col s2 remove-button">
                        <a ng-if="vm.booking.seats.length > 1" ng-click="vm.removeSeat($index)">
                            <i class="material-icons">delete</i>
                        </a>
                    </div>
                </div>
                <a class="btn-floating btn-large waves-effect waves-light green right horizontal"
                   ng-click="vm.addSeat()"><i class="material-icons">add</i></a>
                <br/>
                <br/>
                <br/>
            </div>
        </div>

        <div class="card col s12">
            <div class="card-content">
                <p>
                    <input ng-model="vm.booking.payment" name="Group" type="radio" id="CC" value="CC"/>
                    <label for="CC">{{'PAYMENT.CC' | translate}}</label>
                </p>
                <div ng-if="vm.booking.payment == 'CC'" class="row">
                    <div class="input-field col s6">
                        <input id="cardnum" type="number" required ng-maxlength="19" ng-minlength="16" class="validate"
                               ng-model="vm.booking.creditcard">
                        <label for="cardnum">{{'CC.NUMBER' | translate}}</label>
                    </div>
                    <div class="input-field col s2">
                        <input id="cardcheck" type="number" required ng-maxlength="3" ng-minlength="3" class="validate"
                               ng-model="vm.booking.cardcheck">
                        <label for="cardcheck">{{'CC.CVC' | translate}}</label>
                    </div>
                    <div class="input-field col s2">
                        <input id="cardmonth" type="number" required ng-maxlength="2" ng-minlength="2" class="validate"
                               ng-model="vm.booking.cardmonth">
                        <label for="cardmonth">{{'CC.EXPIRY_MONTH' | translate}}</label>
                    </div>
                    <div class="input-field col s2">
                        <input id="cardyear" type="number" required ng-maxlength="2" ng-minlength="2" class="validate"
                               ng-model="vm.booking.cardyear">
                        <label for="cardyear">{{'CC.EXPIRY_YEAR' | translate}}</label>
                    </div>
                </div>
                <p>
                    <input ng-model="vm.booking.payment" name="Group" type="radio" id="transfer" value="transf"/>
                    <label for="transfer">{{'PAYMENT.TRANSFER' | translate}}</label>
                </p>
            </div>
        </div>
        <div class="card col s12">
            <div class="card-content">
                <a class="waves-effect waves-light btn-large right" ng-click="vm.book(bookingForm)" ng-disabled="!bookingForm.$valid"><i
                    class="material-icons right">send</i>{{'CONFIRM' | translate}}</a>
                <br/>
                <input type="checkbox" id="agree" ng-model="vm.checked" required/>
                <label for="agree">{{'TERMS_AND_CONDITIONS' | translate}}</label>
                <br/>
            </div>
        </div>
    </form>
</div>
