<div class="container">
  <div class="row">
    <div class="col s6 m6 l6">
      <h2>Departure</h2>
      {{vm.selectedDeparture | json }}
      <ul class="collection">


        <li class="collection-item avatar">
          <i class="material-icons circle left">search</i>
          <div input-field>
            <input type="text" ng-model="vm.departure.filter" ng-change="vm.filterDeparture(vm.departure.filter)">
            <label>Filter</label>
          </div>
        </li>
      </ul>
      <ul class="collection">
        <!--<a href="#!" class="collection-item">-->
        <li class="collection-item avatar" ng-repeat="airport in vm.departureAirports"
            ng-click="vm.setSelectedDeparture(airport)"
            ng-class="{'active': vm.selectedDeparture == airport}">
          <i class="material-icons circle">flight_takeoff</i>
          <span class="title">{{airport.name}}</span>
          <p>{{airport.location.region}}<br>
            {{airport.code}}
          </p>
        </li>
        <!--</a>-->
        <!--<li class="collection-item avatar">-->
        <!--<i class="material-icons circle">folder</i>-->
        <!--<span class="title">Title</span>-->
        <!--<p>First Line <br>-->
        <!--Second Line-->
        <!--</p>-->
        <!--<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>-->
        <!--</li>-->
        <!--<li class="collection-item avatar">-->
        <!--<i class="material-icons circle green">insert_chart</i>-->
        <!--<span class="title">Title</span>-->
        <!--<p>First Line <br>-->
        <!--Second Line-->
        <!--</p>-->
        <!--<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>-->
        <!--</li>-->
        <!--<li class="collection-item avatar">-->
        <!--<i class="material-icons circle red">play_arrow</i>-->
        <!--<span class="title">Title</span>-->
        <!--<p>First Line <br>-->
        <!--Second Line-->
        <!--</p>-->
        <!--<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>-->
        <!--</li>-->
      </ul>
    </div>

    <div class="col s6 m6 l6">
      <h2>Arrival</h2>
      {{vm.selectedArrival | json }}

      <ul class="collection">


        <li class="collection-item avatar">
          <i class="material-icons circle">search</i>
          <div input-field>
            <input type="text" ng-model="vm.arrival.filter" ng-change="vm.filterArrival(vm.arrival.filter)">
            <label>Filter</label>
          </div>
        </li>
      </ul>
      <ul class="collection">
        <li class="collection-item avatar" ng-repeat="airport in vm.arrivalAirports"
            ng-click="vm.setSelectedArrival(airport)"
            ng-class="{'active': vm.selectedDeparture == airport}">
          <i class="material-icons circle">flight_land</i>
          <span class="title">{{airport.name}}</span>
          <p>{{airport.location.region}}<br>
            {{airport.code}}
          </p>
          <a href="#!" ng-if="vm.selectedArrival == airport && vm.selectedDeparture" class="secondary-content" ui-sref="flight({departure: vm.selectedDeparture.code, arrival: vm.selectedArrival.code})"><i
            class="material-icons">grade</i></a>
        </li>
      </ul>
    </div>
    <!--<h2 class="header" scroll-fire="console.log('test')">ScrollFire</h2>-->
    <h2 class="header" scroll-fire="vm.test()" offset="500">ScrollFire</h2>
    <h2 class="header" message="test" duration="1000" toast='click'>Toast</h2>

    <!--<h2 class="header" scroll-fire="toast('Past scoll-fire', 2000)" offset="500">ScrollFire</h2>-->
  </div>
</div>
