html, body {
  height: 100%;
}
nav{
  background-color: #2196f3;
  padding-left: 1%;
  padding-right: 1%;
}
.material-icons.md-48 {
  font-size: 48px;
}
.row{
  margin-bottom: 5px;
}
.collection .collection-item.active{
  background-color: #32bdf3;
}

.container-auth {
  display: flex;
  flex-direction: column;
  width:20%;

}

main {
  flex: 1 0 auto;
}

body {
  background: #fff;
}
.login-custom-card{
  display: inline-block;
  padding: 32px 10px 0px 10px;
}
.logintabs{
  margin: 0 -0.74em;
}
.logintabs .tabs .tab a{
  color: #1904e9;
}
.logintabs .tabs .indicator{
  background-color: #1904e9;
}

/*Change color for inputfields & prefix*/
/*START*/
.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #1904e9;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #1904e9;
  box-shadow: none;
}
.input-field .prefix.active{
  color: #1904e9;
}
/*END*/
