<main>
    <div class="container">
        <div class="card s8">
            <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
                Application Settings
            </span>
            </div>
        </div>
        <div class="card s8">
            <div class="card-content">
                <div class="input-field col s4">
                    <input id="defaultperc" type="number" ng-model="vm.settings.defaultProfit"
                           required>
                    <label for="defaultperc">Default profit (in %)</label>
                </div>
            </div>
        </div>
        <div class="card s8">
            <div class="card-content">
                <a class="waves-effect waves-light btn right" ng-click="vm.save()"><i
                    class="material-icons right">send</i>Confirm</a>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</main>
